
.div__row__TratamientoDato{
    /* border: solid 1px white; */
    text-align: center;
    align-items: center;
    padding: 10px 10px 10px 10px;

}
.label__row__TratamientoDato{
    /* color: white; */
    font-size: xx-large;
    font-weight: bold;
}
.p_tituloTratamiento{
    font-weight: bold;
}
.p_textoTratamiento{
    color:#7a7a7a;
    font-weight: 500;
}