.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    padding: 15px;
    z-index: 1050;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    border: #25d366;
  }
  
  .whatsapp-float:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: white;
  }