.row__Posventa__{
    margin-top: 70px;
}
.contenido__posventa{
    padding-top: 170px;
    padding-bottom: 50px;
}
.container__row__Posventa{
     /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/HomePulsar.PNG'); */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    max-height: 250px; 
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    color: white;
}
.label__row__Posventa{
    display: block;
    font-size: clamp(28px, 9vw, 60px);
    font-weight: 100;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "futura light", Sans-serif;
}

.titulo__Posventa{
    /* color: white; */
    font-size: 25px !important;
    font-weight: 700;
    /* font-family: "Bebas Neue", Sans-serif; */
    /* text-align: center; */
    padding-left: 30px;
    font-family: "Montserrat", Sans-serif;
}
.descripcion__Posventa{
    font-size: 20px;
    /* color: #afb0b3; */
    
    padding-left: 20px;
    padding-right: 20px;
    font-family: "futura light", Sans-serif;
}
.titulo__card__Posventa{
    color: rgb(255, 255, 255);
    font-size: 30px !important;
    font-weight: bold;
    text-align: center;
    font-family: "Berlin sand", Sans-serif;
}

.contenido__card__Posventa{
    padding: 30px;
}
.input__card__Posventa{
    height: 44px;
    font-size: 13px;
    padding: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    color: black;
    border-radius: 12px;
}
.card__Posventa{
    /* border-radius: 15px;
    background-color: #c7c2c5; */
    border-radius: 19px;
    background-color: rgba(0, 0, 0, 0.4); /* 0.7 = 70% visible */
    backdrop-filter: blur(4px); /* opcional: efecto glass */
    border: 1px solid white;
}
.subtitulo__card__Posventa{
    text-align: center;
    font-size: large;
    color: white;
    font-weight: 700;
}
.btn__card__Posventa{
    height: 50px;
    width: 200px;
    font-size: larger;
    background-color: #F43636;
    border: none;
}
.btn__card__Posventa:hover{
    background-color: #d0694a;
}
.contenido__btn__card__Posventa{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

.fondoImmagen{
    background-image: url('/images/FondoImagen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title-line {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 15px;
    margin-left: 20px;
  }
  
  .title-line .line {
    width: 50px;
    height: 3px;
    background-color: #ff3c00; /* color de la línea */
  }
  
  .title-line h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: #000;
  }
  @media (max-width: 576px) {
    .title-line h2 {
      font-size: 22px;
    }
  
    .title-line .line {
      width: 35px;
    }
  }