.btn__modalContacto{
    width: 100%;
    height: 35px;
    background-color:#0e60ad;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
}
.input_text__modalContacto{
    height: 35px;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid #7a7a7a;
}
.modalcontent__modalContacto{
    padding: 10px;
}
.titulo__modal__contacto{
    font-family: "Bebas Neue", Sans-serif;
    font-size: 27px;
    font-weight: bold;
}
.modalcontacto_header{
    border-bottom: 1px solid #7a7a7a !important;
    justify-content: center;
    padding: 0px;
}