.subtitulo__administrador__home{
  margin-top: 20px;
}

.div__btn__administrador{
  margin-top: 20px;
}
.btn__guardar__info__administrador{

  height: 35px;
  font-size: medium;
}
.modal.fade .modal-dialog {
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
.modal.fade.show .modal-dialog {
  transform: translate(0, 0);
}

.modal.fade .modal-dialog {
  transform: translate(0, -20px);
}
.btn__ver__carrusel{
  display: flex;
  justify-content: center;
  align-items: center;
}