.row__Visitanos{
    margin-top: 70px;
    margin-bottom: 70px;
}
.container__row__Visitanos{
    /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/HomePulsar.PNG'); */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 250px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    color: white;
}
.label__row__Visitanos{
    display: block;
    font-size: clamp(28px, 9vw, 60px);
    font-weight: 100;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "futura light", Sans-serif;
}
.row__Visitanos__ubicacion{
    padding: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    /* text-align: center; */


    
}
.custom-map {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
}

.contenido__cardPuntosVentas__Visitanos{
    max-height: 600px;    
    overflow-y: auto;      
    overflow-x: hidden;
}
.contenido__cardPuntosVentas__Visitanos::-webkit-scrollbar {
    width: 8px;
}
  
.contenido__cardPuntosVentas__Visitanos::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.titulovisitanos{
    font-family: "Oswald", Sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2em;
    color: #000000;
}