.cardContenidoBlog {
    background: #fff;
    border-radius: 12px;
    padding: 8px 13px;
    border: 2px solid #e9e9e9;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .cardContenidoBlog:hover {
    border: 2px solid #e9e9e9;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  
  }
  
  
  .cardBlogImg {
    width: 100%;
    height: auto;
    margin: 0 auto 16px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease;

  }
  
  /* Título */
  .cardTituloBlog {
    font-size: clamp(0.9rem, 2vw, 1rem);
    margin-bottom: 8px;
    color: #000;

    text-align: left;
  
  }
  
  /* Descripción */
  .cardfechaBlog {
    color: #6c757d;
    font-size: 16px;
    margin: 0;
    text-align: left;
  }
  
  .cardContenidoBlog {
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .cardContenidoBlog.activa {
    background-color: #002857;
  }
  
  .cardContenidoBlog.activa .cardTituloBlog,
  .cardContenidoBlog.activa .icono {
    color: #ffffff;
  }
  .btn-comentario{
    background-color: transparent;
    border: 1px solid #c36;
    border-radius: 3px;
    color: #c36;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    padding: .5rem 1rem;
    text-align: center;
    transition: all .3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: nowrap;
  }
  .btn-comentario:hover{
    background-color:  #c36;
    border: 1px solid #c36;
    color: #fff;
    
  }