.stylish-nav-link {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}

.stylish-nav-link:hover {
  color: #e8e7e7;
  transform: scale(1.15);
}

.stylish-dropdown-toggle {
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}

.stylish-dropdown-toggle:hover {
  color:  #e8e7e7;
  transform: scale(1.15);
}



.navbar-nav > li.nav-item {
  margin-left: 0.5rem;
 
}
.custom-dropdown {
  background-color: #0e60ad;
  border: none;
  border-radius: 10px;
  padding: 10px 0;
  animation: fadeIn 0.2s ease-in-out;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.custom-dropdown-item {
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 500;
  transition: background-color 0.2s ease, padding-left 0.2s ease;
}

.custom-dropdown-item:hover {
  background-color: #0e60ad;
  padding-left: 25px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.logo_menu {
  width: 140px;
  height: 70px;
  object-fit: contain; 
}
.navbar-nav__menu__principal {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .navbar-nav > li.nav-item {
    margin-left: 2rem;
  }
}
.stylish-nav-link {
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}


.stylish-nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  border-radius: 2px;
}


.stylish-nav-link:hover::after {
  transform: scaleX(1);
}


.stylish-nav-link.nav-active::after {
  transform: scaleX(1);
}
