.card__Motocicleta__linea{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 90%;
    background-color: #002856;
    height: 2px;
}

.card__Motocicleta__linea__padre{
    justify-content: center;
    justify-items: center;
}

.card__Motocicleta__titulo{
    background-color: #003f74;
    border-radius: 10px;
    padding: 1% 2% 1% 1%;
    text-align: right;
    height: 30px;
    margin-top: 10px;
    width: 90%;
    color: white;
    font-size: small;
    font-weight: bold;
}
.card__Motocicleta{
    border-radius: 8px;
    border: 2px solid #808080;

}
.marca__card__Motocicleta{
    display: flex;
    font-family: 'Bebas Neue', Sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgb(19, 60, 98);
}

.modelo__card__Motocicleta--{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-family: 'Bebas Neue', Sans-serif;
}
.modelo__card__Motocicleta{
    display: flex;
    justify-content: flex-end;

}

.card__precio__Motocicleta{
    border: 1px solid  #003f74;
    padding: 7px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color:#003f74;
    white-space: nowrap;
}
.card__precio__Motocicleta:hover{
    border: 1px solid #003f74;
    background-color: white;
    color: black;
}

.div__Contenido__card__Motocicleta{
    margin-top: 10px;
    margin-bottom: 0px;
}