.titulo__TitluloSeccionBarraPorcentaje{
    font-size: 22px;
    /* color: white; */
    padding-bottom: 15px;
}

.subtitulo__TitluloSeccionBarraPorcentaje{

    /* color: white; */
    padding-bottom: 15px;

    font-family: "Monrope", Sans-serif;
    font-size:  clamp(1.5rem, 6vw, 3.5rem);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2em;
    color: #D8D8D8;
}