.modal-backdrop-custom {
  position: fixed;
  bottom: 90px;
  right: 20px;
  z-index: 1040;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 600px;
  background: transparent; 
  pointer-events: none; 
}

.custom-modal {
  background: white;
  border-radius: 15px;
  width: 300px;
  max-width: 90vw;
  height: 600px;
  max-height: 90vh;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  overflow: hidden;

  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: all; 
}

.custom-modal.open {
  opacity: 1;
  transform: translateY(0);
}

.contenido__modal__Whatsapp {
  padding: 12px;
}

.div__mensaje__whatsapp {
  background: #f2f4f7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 8px;
}

.row__avatar___ {
  padding: 10px;
}

.contenido__whatsapp__ {
  border: solid 1px rgb(217, 217, 217);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 15px;
  padding: 10px;
  margin-bottom: 20px;
}
.textarea-mensaje {
  height: 80px !important; 
  resize: none; 
}