.contenido__seccionBarraPorcentaje{
    text-align: center;
    justify-content: center;
}
.titulo__seccionBarraPorcentaje{
    padding-top: 20px;
    /* color: white; */
    
    font-size: 20px;
    font-family: "Bebas Neue", Sans-serif;
}
.p__seccionBarraPorcentaje{
    /* color: #b2adab; */
    padding-top: 15px;

}
.div__barra__{
    border-bottom: 1px solid #d63201;
}