.detalle-card {
  background: #fff;
  border-radius: 12px;
  padding: 8px 13px;
  border: 2px solid #e9e9e9;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.detalle-card:hover {
  /* transform: translateY(-8px); */
  /* border-color: #d60000 ; */
  border: 2px solid #e9e9e9;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

}


.detalle-icono {
  width: 50px;
  height: 50px;
  margin: 0 auto 16px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color:  #1f325b;
  background-color:#0e60ad;
  border-radius: 50%;
  transition: all 0.3s ease;
}

/* Título */
.detalle-titulo {
  font-size: 18px;
  margin-bottom: 8px;
  color: #1f325b;
  font-family: "Bebas Neue", Sans-serif;

}

/* Descripción */
.detalle-descripcion {
  color: #6c757d;
  font-size: 16px;
  margin: 0;
}

.detalle-card {
  cursor: pointer;
  transition: all 0.3s ease;
}

.detalle-card.activa {
  background-color: #002857;
}

.detalle-card.activa .detalle-titulo,
.detalle-card.activa .icono {
  color: #ffffff;
}