.row__Promociones{
    padding-top: 170px;
    padding-bottom: 70px;
}
.container__row__Promociones{
    /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/HomePulsar.PNG'); */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 250px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    color: white;
}
.label__row__Promociones{
    display: block;
    font-size: clamp(20px, 7vw, 60px);
    font-weight: 100;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "futura light", Sans-serif;

}
.row__card__imagenes__promociones{
    padding-top: 15px;
    /* padding-left: 200px;
    padding-right: 200px; */
    padding-bottom: 0px;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;

}
